.project__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}

.project__item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.project__item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.project__container {
  /* grid-template-columns: repeat(2, max-content); */
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  justify-content: center;
}

.project__card {
  background-color: var(--container-color);
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.project__imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.project__img {
  /* width: 295px; */
  border-radius: 1rem;
  width: 595px;

  /* max-height: 500px; */
}

.project__content {
  display: flex;
  flex-direction: column;
}

.project__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.project__period {
  margin-bottom: var(--mb-2);
}

.project__description {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
  white-space: pre-line;
}

.project__stacks-data {
  display: flex;
  column-gap: 0.5rem;
}

.project__link {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: var(--mb-2);
}

.project .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.project__stack-name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 18px;
}

/* active project */
.active-project {
  background-color: var(--title-color);
  color: var(--container-color);
}

/* Swiper class */
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 30px;

  color: var(--title-color);
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
  top: 90%;
  padding: 18px;
  background-color: rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

/* =================== BREAKPOINTS =================== */

/* For larger devices */
@media screen and (width <= 992px) {
  .project__container {
    gap: 1.25rem;
  }

  .project__card {
    padding: 1rem;
    grid-template-columns: 0.5fr;
  }

  .project__img {
    margin-bottom: 0.75rem;
  }

  .project__title,
  .project__period {
    margin-bottom: 0.25rem;
  }
}

/* For medium devices */
@media screen and (width <= 768px) {
  .project__container {
    /* grid-template-columns: max-content; */
    grid-template-columns: 1fr;
  }

  .project__card {
    grid-template-columns: 1fr;
  }

  .project__imgs {
    width: 100%;
  }

  .project__img {
    width: 295px;
  }
}

@media screen and (width <= 576px) {
  .project__container {
    grid-template-columns: 1fr;
  }

  .project__img {
    width: 100%;
  }
}

/* For small devices */
@media screen and (width <= 350px) {
  .project__item {
    font-size: var(--small-font-size);
  }

  .project__filters {
    column-gap: 0.25rem;
  }
}
